{   
    "presets": ["next/babel"],
    "plugins": [
        [
            "prismjs", 
            {
                "languages": [
                    "javascript",
                    "java",
                    "typescript",
                    "css"
                ],
                "plugins": ["line-numbers"],
                "theme": "twilight",
                "css": true
            }    
        ]
    ]
}